APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:6+4KKvhU92fohGMXoXWtMEvTIcGYP24TWi4vSo6TKh0=
APP_URL=https://www.erac61.com.br
ASSET_URL=https://www.erac61.com.br
APP_LOCALE=pt_BR
APP_PUBLIC_STORAGE_URL=/storage
APP_NAME=Laravel
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
APP_MAINTENANCE_DRIVER=file

DB_CONNECTION=sqlite
DB_DATABASE=/home2/thi19135/public_html/erac-63/database/database.sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=database

COMPOSER_CACHE_DIR=/tmp/composer-cache
CHOKIDAR_USEPOLLING=true

PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
CHROME_PATH=/usr/bin/chromium
PUPPETEER_SKIP_DOWNLOAD=true

LARAVEL_PDF_CHROME_PATH=/usr/bin/chromium
LARAVEL_PDF_NODE_BINARY=/usr/local/bin/node
LARAVEL_PDF_NPM_BINARY=/usr/local/bin/npm
LARAVEL_PDF_NO_SANDBOX=true

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sh00220.hostgator.com.br
MAIL_EHLO_DOMAIN=erac61.com.br
MAIL_PORT=465
MAIL_USERNAME=no-reply@erac61.com.br
MAIL_PASSWORD='KvR1^6Ou[e7P'
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=no-reply@erac61.com.br
MAIL_FROM_NAME="ERAC 61"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
VITE_APP_NAME="${APP_NAME}"
